* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#header {
  height: 13%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(225, 225, 162);
  display: flex;
  align-items: center;
  padding: 1%;
  position: fixed;
  z-index: 1;
}

.navbar a {
  font-size: 20px;
  padding: 0;
  margin-right: 15px;
  display: inline;
  text-decoration: none;
  color: #0b0b0b;
  font-weight: 500;
  justify-content: center;
}
header .navbar a:hover {
  background-color: rgb(243, 47, 80);
  border-radius: 10%;
  color: white;
}
.navbarright {
  padding-left: 25%;
  font-size: 20px;
  font-weight: 600;
  font-family: cursive;
  color: rgb(252, 3, 103);
}

.home {
  background: url(images/background.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  padding: 2rem 9%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.home {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.home .container {
  max-width: 50rem;
  transform: translate(80%, 30%);

}
.home .container h2 {
  font-size: 5rem;
  color: rgb(0, 0, 0);
  font-family: cursive;
}

#btn1,
#btn2:hover {
  background-color: black;
  color: wheat;
}
.home .container b {
  font-size: 6rem;
  color: rgb(243, 0, 41);
}

.container3 {
  margin-left: -160px;
  padding: 0px;

}
.container2{

  margin-left: -350px;
}

input {
  border: 2px solid rgb(252, 3, 103);
  font-size: 26px;
  margin: 10px;
  padding: 10px;
  background: transparent;
  color: rgb(252, 3, 103);
}

footer {
  background-color: rgb(252, 3, 103);
  color: #0b0b0b;
}
.circle-icon {
  display: inline-block;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 50%;
  background-color: #ffffff; /* Adjust background color as needed */
  text-align: center;
  line-height: 40px; /* Adjust line-height to center the icon */
}



@media (max-width: 930px) {
  .body-content {
      flex-direction: column;
  }

  body {
      background-size: cover;
  }
}

@media (min-width: 931px) and (max-width: 1500px) {
  .body-content {
      flex-direction: column;
  }

  body {
      background-size: cover;
  }
}

@media (max-width: 420px) {
  .navbar {
      padding: 0px 10px;
  }
}

@media (max-width: 280px) {
  .navbar .btnStyle {
      font-size: 12px;
  }

  .navbar {
      font-size: 12px;
  }
}
